<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://ik.imagekit.io/ca4ajrkzu/JS/style.css?updatedAt=1724017227826" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
</head>
<body>
    <section class="w-full relative flex flex-col items-center justify-items-center ">
        {% include 'component/headingtwo.html' %}
     <article class="w-full overflow-x-scroll">
        <div class="w-11/12  sm:w-11/12  md:w-11/12  lg:w-10/12  m-auto mt-12 border rounded-md">
            <table class="w-full">
                <thead>
                    <tr>
                        <td class="text-center border-b-2 border-r-2">from</td>
                        <td class="text-center border-b-2 border-r-2">to</td>
                        <td class="text-center border-b-2  border-r-2">translated text</td>
                        <td class="text-center border-b-2 ">action</td>
                    </tr>
                </thead>
                <tbody class="insidetable">
                    <!-- <tr>
                        <td class="text-center text-xs sm:text-xs md:text-sm lg:text-sm ">English</td>
                        <td class="text-center text-xs sm:text-xs md:text-sm lg:text-sm">Fench</td>
                        <td class="text-center text-xs sm:text-xs md:text-sm lg:text-sm">jhwjkfjkd dfkjfhjkdhksk</td>
                        <td class="grid place-items-center grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2">
                            <span class="w-6">
                                <i class="fa fa-eye text-green-600 text-xs sm:text-xs md:text-sm lg:text-sm" aria-hidden="true"></i>
                            </span>
                             <span class="w-6">
                                <i class="fa fa-trash text-red-600 text-xs sm:text-xs md:text-sm lg:text-sm trashx" aria-hidden="true"></i>
                             </span>
                            </td>
                    </tr> -->
                </tbody>

            </table>

        </div>

     </article>
       
          <section class="w-full flex flex-row items-center justify-center">
                   <div class="w-1/12 m-auto flex flex-row items-center justify-between">
                     <span class="w-1/5 prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                     </span>
                     <span class="w-1/5 numinside">1</span>
                     <span class="w-1/5 next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                     </span>
                   </div>
          </section>

    </section>

    <article style="display:none;" class="w-full top-0 left-0 right-0 bottom-0 z-50 fixed bg-cover bg-black bg-opacity-10  backdrop-blur-[2px] flex flex-row items-center justify-center popup">

        <section class='bg-white rounded-md w-10/12 sm:w-3/5 md:w-1/2 lg:w-2/5 mt-10 flex flex-col items-center gap-4 py-4'>
    
      
          <article class='w-full flex flex-col items-center justify-center gap-3'>
              <span class='w-3/4 text-center text-sm sm:text-base md:text-2xl lg:text-2xl font-semibold capitalize popcontent'></span>
    
              <button class='bg-red-400 text-white w-1/3 m-auto rounded-md py-1 capitalize rounded-md border close'>close</button>
          </article>
            
          </section>
    
      </article>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let object = `{{ data|safe|escapejs }}`;
    console.log(object)
</script>
<!-- <script src="{% static 'home.js' %}"></script> -->

<script src="https://ik.imagekit.io/ca4ajrkzu/JS/home.js?updatedAt=1724167085086"></script>
</html>